@import url('https://fonts.googleapis.com/css?family=Oxygen');

a, button, .footer-link {
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

@keyframes backgroundscroll {
	0% {background-position: left 0, right 0;}
	50% {background-position: left -70%, right -70%;}
	100% {background-position: left 0, right 0;}
}

@-webkit-keyframes backgroundscroll {
	0% {background-position: left 0, right 0;}
	50% {background-position: left -70%, right -70%;}
	100% {background-position: left 0, right 0;}
}

body {
	min-height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #000000;
	color: #FFFFFF;
	font-family: 'Oxygen';
}

a {
	text-decoration: none;
}


#footer {
	position: relative;
	width: 100%;
	height: auto;

	bottom: 0;
	background-color: #FFFFFF;
	color: #000000;
	border-top: solid 5px #FF0000;
	font-size: calc(12px + 0.5vw);
}

.ted-link {
	color: #FF0000;
	font-weight: bold;
}

#countdown {
	color: #FFFFFF;
}

.main-landing {
	width: 100%;
	min-height: 100vh;
	vertical-align: top;
	display: inline-block;
}

#top-container {
	background-image: url('bg/landing-1-left.png'), url('bg/landing-1-right.png');
	background-position: left top, right top;
	background-size: 30% auto;
	background-repeat: repeat-y;
	animation: backgroundscroll 20s infinite;
	-webkit-animation: backgroundscroll 20s infinite;
}

#middle-container {
	background-image: url('bg/landing-2-bg.png'); 
	color: #000000; 
	background-size: 100% auto;
	background-repeat: repeat-y;
	padding-bottom: 10vh;
}

#logo {
	opacity: 0;
	width: calc(90px + 30%);
	height: auto;
}

#theme-logo {
	opacity: 0;
	position: absolute;
	margin-left: 5vw;
	margin-top: 5vw;
	width: calc(100px + 50vw);
	height: auto;
}

#landing-date {
	opacity: 0;
	margin-left: 45%;
	padding-top: 13%;
	font-size: calc(20px + 1.5vw);
	color: #444444;
}

#landing-description-container {
	padding: 2%;
	width: 70%;
	height: auto;
	border-radius: 2vw;
	margin-left: auto;
	margin-right: auto;
	background-color: #FF3333;
	color: #FFFFFF;
	opacity: 0;
}

#landing-description-header {
	font-size: calc(20px + 0.3vw);
}

#landing-description-content {
	font-size: calc(18px + 0.2vw);
}

.landing-link {
	padding: 1.3vw;
	border: 0;
	border-radius: 1vw;
	margin: 1%;

	opacity: 0;

	background-color: #FF0000;
	color: #FFFFFF;
	font-size: 24px;
	text-decoration: none;
}

.landing-link:hover {
	background-color: #FF7777;
	color: #FFFFFF;
}

#arrow-down-container {
	width: calc(14px + 5vw);
	height: calc(14px + 5vw);
	margin-bottom: 3vh;
}

.arrow-down {
	width: calc(20px + 3vw);
	height: calc(20px + 3vw);
}

.footer-link {
	color: #333333;
}

.footer-link:hover {
	color: #FF0000;
}

.footer-link-set {
	float: right;
	margin-right: 5%;
	margin-top: 3%;
	display: inline-block;
}

.social-icon {
	width: 32px;
	height: 32px;
	margin: 0.5%;
}

.social {
	height: 32px;
	width: 100%;
	margin-top: 5%;
	display: inline-block;
	text-align: center;
}


#license {
	text-align: center;
	width: 35%;
	margin-top: 3%;
	margin-left: 5%;
	float: left;
	display: inline-block;
}