@import url('https://fonts.googleapis.com/css?family=Oxygen');

a, button, .footer-link {
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

@keyframes backgroundscroll {
	0% {background-position: 0 0;}
	50% {background-position: 0 -100px;}
	100% {background-position: 0 0;}
}

@-webkit-keyframes backgroundscroll {
	0% {background-position: 0 0;}
	50% {background-position: 0 -100px;}
	100% {background-position: 0 0;}
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #000000;
	color: #FFFFFF;
	font-family: 'Oxygen';
}

a {
	text-decoration: none;
}

#footer {
	position: relative;
	width: 100%;
	height: 40vh;
	bottom: 0;
	background-color: #FFFFFF;
	color: #000000;
	border-top: solid 5px #FF0000;
	font-size: calc(50%+1.3vw);
}

.ted-link {
	color: #FF0000;
	font-weight: bold;
}

#countdown {
	color: #FFFFFF;
}

.main-landing {
	width: 100%;
	height: 100vh;
	vertical-align: top;
	display: inline-block;
	background-repeat: no-repeat;
}

#top-container {
	background-image: url('media/landing-1.png');
	background-size: 100% auto;
	animation: backgroundscroll 3s infinite;
	-webkit-animation: backgroundscroll 3s infinite;
}

#middle-container {
	background-image: url('media/uprising-poster.png'); 
	color: #000000; 
	background-size: 100% auto;
	min-height: 100vh;
	padding-bottom: 1vh;
}

#logo {
	width: 30%;
	height: auto;
}

#landing-date {
	opacity: 0;
	margin-left: 45%;
	padding-top: 13%;
	font-size: calc(100%+3vw);
	color: #444444;
}

#landing-description-container {
	padding: 2%;
	width: 50%;
	height: auto;
	border-radius: 50px;
	margin-left: 5vw;
	background-color: #FF3333;
	color: #FFFFFF;
	opacity: 0;
	text-align: justify;
}

#landing-description {
	font-size: calc(100%+1.3vw);
}

.landing-link {
	padding: 1.3vw;
	border: 0;
	border-radius: 1vw;
	margin: 1%;

	opacity: 0;

	background-color: #FF0000;
	color: #FFFFFF;
	font-size: calc(100%+2.5vw);
	text-decoration: none;
}

.landing-link:hover {
	background-color: #FF7777;
	color: #FFFFFF;
}

#arrow-down-container {
	width: 5vw;
	height: 5vw;
	margin-top: 3%;
}

.arrow-down {
	width: 5vw;
	height: 5vw;
}

.footer-link {
	color: #333333;
}

.footer-link:hover {
	color: #FF0000;
}

.footer-link-set {
	float: right;
	margin-right: 10%;
	margin-top: 3%;
}

.social {
	bottom: 5%;
	position: absolute;
	text-align: center;
    width: 60%;
    left: 50%;
    margin-left: -30%;
}

.social-icon {
	width: 5%;
	height: 5%;
	margin: 1%;
}

#license {
	text-align: center;
	width: 35%;
	margin-top: 3%;
	margin-left: 10%;
	position: absolute;
	float: left;
}