@import url('https://fonts.googleapis.com/css?family=Oxygen');

a, button, .footer-link {
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

body {
	margin: 0;
	background-color: #000000;
	color: #FFFFFF;
	font-family: 'Oxygen';
}

a {
	text-decoration: none;
}

#footer {
	position: relative;
	height: 30%;
	bottom: 0;
	padding-left: 5%;
	padding-top: 3%;
	background-color: #FFFFFF;
	color: #000000;
	border-top: solid 5px #FF0000;
}

.ted-link {
	color: #FF0000;
	font-weight: bold;
}

#countdown {
	color: #FFFFFF;
}

.main-landing {
	height: 100%;
}

#logo {
	width: 30%;
	height: auto;
}

#landing-date {
	opacity: 0;
	margin-left: 55%;
	padding-top: 17%;
	font-size: 50;
}

#landing-description-container {
	padding: 3%;
	width: 70%;
	height: auto;
	border-radius: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FF5555;
	color: #FFFFFF;
}

#landing-description {
	font-size: 24;
}

.landing-link {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px; 
	padding-right: 20px;
	border: 0;
	border-radius: 10px;
	margin: 1%;

	opacity: 0;

	background-color: #FF0000;
	color: #FFFFFF;
	font-size: 24;
	text-decoration: none;
}

.landing-link:hover {
	background-color: #FF7777;
	color: #FFFFFF;
}

.footer-link {
	color: #333333;
}

.footer-link:hover {
	color: #FF0000;
}

.footer-link-set {
	float: right;
	margin-right: 10%;
}

.social {
	bottom: 10px;
	position: absolute;
	text-align: center;
    width: 60%;
    left: 50%;
    margin-left: -30%;
}

.social-icon {
	width: 40px;
	height: 40px;
	margin: 5px;
}

#license {
	text-align: center;
	width: 35%;
	overflow: auto;
	position: absolute;
	float: left;
}